/* .h2 {
    font-size: 2.5rem;
    text-align: center; 
  }
  
  .text-section {
    margin-left: 260px;
    margin-right: 260px;
  } */
  
  /* .p {
    font-size: 0.8rem;
    margin-left: 155px; 
    margin-right: 155px;
    text-align: justify;
  } */
  
  /* .background-image img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
  } */

/* home.module.css */
.background {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .backgroundImage {
    width: 240px; /* Largura desejada */
    height: 240px; /* Altura desejada */
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move a imagem de volta para alinhar ao centro */
    z-index: -1; /* Define um índice de empilhamento para trás */
  }
  
  .textContainer {
    z-index: 1; /* Garante que o conteúdo fique na frente da imagem */
  }
  
  .h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .text-section {
    margin-left: 260px;
    margin-right: 260px;
  }
  
  .p {
    font-size: 0.8rem;
    margin-left: 155px;
    margin-right: 155px;
    text-align: justify;
  }
  