/* header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6E21;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo img {
  margin-left: 240px;
  max-height: 64px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 240px;
  font-size: 1.2rem;
}

.navList li {
  margin-left: 32px;
}
